.plans-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.plan {
    width: 30%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.plan h2 {
    margin-top: 0;
}

.plan p {
    margin: 10px 0;
}


.plan-title {
    font-size: 24px;
    color: #ffffff;
}

.plan-price {
    font-size: 18px;
    color: #ffffff;
}

.plan-features {
    list-style: none;
    padding: 0;
}

.plan-features li {
    margin-bottom: 10px;
}

.plan-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.plan-button:hover {
    background-color: #008B8B;
}
